* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #2D2D2D;
  justify-content: center;
  align-items: center;
}

#logoDnc{
  padding-left: 30px;
  padding-top: 20px;
  width: 20px;
}

#logoJumpy{
    padding: 0px 465px
}

main{
  padding: 2px 400px ;
}

.header {
  padding: 0px;
}
h2{
  color: #FFFFFF;
  text-align: center;
  padding-bottom: 0px;
}
.form {
  padding: 7px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 4px;
  position: relative;
}

.form-control label {
  display: inline-block;
  margin-bottom: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #FFFFFF;
}

#username{
  font-size: 11px;
  color: #616161;
}

#email{
  font-size: 11px;
  color: #616161;
}

#telefone{
  font-size: 11px;
  color: #616161;
}

#cpf{
  font-size: 11px;
  color: #616161;
}

.form-control input {
  border: 2px solid #f0f0f0;
  display: block;
  border-radius: 10px;
  font-size: 14px;
  width: 100%;
  padding: 10px;
}

.form-control i {
  position: absolute;
  top: 33px;
  right: 10px;
  visibility: hidden;
}

.form-control small {
  position: absolute;
  top: 50px;
  bottom: 0px;
  left: 0px;
  visibility: hidden;
}

.form button {
  background-color: #0C70F2;
  border: 2px solid #0C70F2;
  color: #fff;
  font-size: 18px;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}

/* Error and Success */
.form-control.success input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #E73550;
}

.form-control.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
  color: #E73550;
  visibility: visible;
}

.form-control.error small {
  visibility: visible;
  color: #E73550;
  margin-left: 75%;
  font-size: 12px;
  top: 62px;
}
